*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(198, 198, 198);
}

.navbar{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: white;
}
.menu a{
    margin: 5px;
    text-decoration: none;
    color: rgb(132, 132, 132);
}
.menu a:hover{
    color: white;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.about p{
    padding: 10px;
    text-align: justify;
}
.img{
    width: 150px;
    border-radius: 50%;
}

.section{
    text-align: center;
}

.section h2, .section hr{
    margin: 10px;
}